@page "/"

<PageTitle>My Home</PageTitle>
<a href="https://youtu.be/eOam-0rYotM">Detailed Video in Youtube</a>
<h1 style="color:crimson">Quick DotNet Introduction!</h1>
<h2>Clarifications Confusiosiosiosions!</h2>

<h2 style="color:brown">Operating System + Binary Code+ library=> Result</h2>
<li>windows => .exe , android=> .apk </li>
<li>windows => Visual studio, VS Code  </li>
<li>Linux,Mac=> VS code only </li>

<br />

<li>VS Code vs Visual Studio</li>
<br />

<li>windows => DotNet framework upto 4.8 </li>
<li>Dot.Net Core 5...9 for all windows ,Linux,Mac </li>
<br />
<h1 style="color:darkmagenta">Environment Setup!</h1>
<li>Dowload Visual Studio Latest by installer then</li>
<li>https://visualstudio.microsoft.com/vs/community/</li>
<li>Choose all or necessary properly</li>
<li>Use the attached by importing into installer</li>
<li>C# Windows,Web,Asp.Net Core API,Blazor</li>

<br />
<h1 style="color:darkblue">Blazor Bees! Lets See All sharply--- C#</h1>

<br />
<h2 style="color:brown">Operating System + Binary Code+ library + packages=> Result</h2>
<li>OS + Browser + Html=> Result</li>
<li>OS + Ch/IE/Edge/Moz/Safari/Tor + Html+ Client Script+ Api=> Result</li>
<li>OS + Ch/IE/Edge/Moz/Safari/Tor + Html+ Blazor/JS    + Api=> Result</li>

<br />
<li>Types: client, server side</li>
<li>Modes: Webassembly , Server, Auto</li>
<li>Razor,C#</li>
<li>Components,Javascript</li>
<br/>
<li>Life cycle page</li>
<li>init,parameter,after</li>
<li>enjoy the ffffffun</li>


