@page "/"

<PageTitle>My Home</PageTitle>

<h1>Quick DotNet Environment Setup!</h1>
<h2>Clarifications Confusiosiosiosions!</h2>
<li>VS Code(All) vs Visual Studio(Windows)</li>
<br/>
<li>Dowload Visual Studio Latest by installer then</li>
<li>https://visualstudio.microsoft.com/vs/community/</li>
<li>Choose all or necessary properly</li>
<li>Use the attached by importing into installer</li>
<li>C# Windows,Web,Asp.Net Core API,Blazor</li>

<br/>

<h1>Blazor Bees! Lets See All sharply--- C#</h1>
<li>Types: client, server side</li>
<li>Modes: Webassembly , Server, Auto</li>
<li>Razor,C#</li>
<li>Components,Javascript</li>
<br/>
<li>Life cycle page</li>
<li>init,parameter,after</li>
<li>enjoy the ffffffun</li>


